.*
!.gitignore
**/__pycache__
~*
*.doc[x]
*.bin
*.pdf
tests/log
tests/results*.pyc
*.py[cod]
*.png
build
dist
*.egg-info
test_results/
functional_tests/**/*.csv
**/*_log.txt
**/*.zip
!**/resources/images/*.png